<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <a routerLink="test" routerLinkActive="active">Test</a> | <a routerLink="/barchart" routerLinkActive="active">Bar
    Chart</a> | <a routerLink="scatter-plot" routerLinkActive="active">Scatter Plot</a> | <a routerLink="heat-map"
                                                                                             routerLinkActive="active">Heat
    Map</a>
  </nav>
</div>

<router-outlet></router-outlet>
